@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  font-size: 80%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration-color: blue;
  display: inline-block;
  color: black; }

img {
  width: 80%;
  height: auto; }

p {
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  background-color: black; }

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

h3 {
  font-size: 2rem; }

h1 {
  color: 0; }

.botones {
  color: white;
  background-color: black;
  justify-content: center; }

.footer-content {
  background-color: black;
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  text-align: center; }

#fuentemenu {
  font-weight: bolder; }
