@import 'global';

h1 {
    color: red($color: red);
}

.botones {
    color: white;
    background-color: black;
    justify-content: center;
}

.footer-content {
    background-color: black;
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.carousel-item {
    height: 40rem;
}